JWT_SECRET=""
EMAIL_USER="" # for nodemailer
EMAIL_PASS="" #for nodemailer
NEXT_PUBLIC_HTTP_URL=http://localhost:8000 # for local env (change it)
NEXT_PUBLIC_WS_URL=ws://localhost:8080


# ---------------------------------------------------
# 1. PRODUCTION / SHARED DEV (Use this for Neon DB)
# Works everywhere: Local 'pnpm dev', Docker, Railway, Vercel
# ---------------------------------------------------
# DATABASE_URL=''

# ---------------------------------------------------
# 2. LOCAL DEVELOPMENT (No Docker)
# only use if you run a Postgres server locally on your Mac/PC
# and you are running 'pnpm dev' (NOT inside Docker)
# ---------------------------------------------------
# DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/canvasly"

# ---------------------------------------------------
# 3. LOCAL DOCKER (Hybrid)
# Only use if:
#   a) You run Postgres locally on your Mac (not in Compose)
#   b) But you run your App inside Docker Compose
#   c) 'host.docker.internal' lets the container "break out" to reach your Mac
# ---------------------------------------------------

# explicitly tell docker to create db=canvalsy(prisma doesn't create db by own)
# docker run -d --name my-postgres -p 5432:5432 -e POSTGRES_PASSWORD=mysecretpassword -e POSTGRES_DB=canvasly postgres
DATABASE_URL="postgresql://postgres:mysecretpassword@host.docker.internal:5432/canvasly?schema=public&connect_timeout=30"

# or (use the default db)
# DATABASE_URL="postgresql://postgres:mysecretpassword@host.docker.internal:5432/postgres?schema=public..."